html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
#root,.App,section{
  height:100%;
}
.gjs-cv-canvas {
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.col-padding-reset{
  padding-left:0;
  padding-right:0;
  height:100%; 
}
.col-scroll{
  overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444444; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #5d5d5d; 
}
.blocks{
  background-color:#343434;
}
.row-margin-reset{
  margin-left: 0;
  margin-right: 0;
  height:100%;
}
#panels{
  display:flex;
  justify-content: center;
  align-items: center;
  height:30px;
  width: 100%;
}