*{
  margin: 0;
  padding: 0;
	border: 0;
}
html, 
body, #root, .App {
    height: 100%;
}
.App {
  text-align: center;
}
#customLayoutFrame{
  margin: auto;
  height: 100%;
}
/* Let's highlight canvas boundaries */
#grapesJsContainer {
  border: 3px solid #444;
  height: 100%;
}

/* Reset some default styling */
.grapesJsContainer-cv-canvas {
  width: 100%;
  height: 100%;
}

.gjs-cv-canvas {
  min-width: 100%;
}

.grapesJsBlocks {
  width: auto;
  height: auto;
  min-height: auto;
}
.gjs-blocks-c >div{
    min-height: auto !important;
    width: auto !important;
  
}

.gjs-block-section-button {
  background-color: red !important;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}
.heading{
  background-color: #4CAF50;
  color: wheat;
}
.city {
  background-color: tomato;
  color: white;
  padding: 10px;
}
